<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamfood.menufoodapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenuFoodApp">
        <activity android:name=".VerIngredientes"></activity>
        <activity android:name=".Recomendaciones" />
        <activity android:name=".Vegetales" />
        <activity android:name=".Especias" />
        <activity android:name=".RecetaDetail" />
        <activity android:name=".ContrasenaActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".LoginActivityFirebase" />
        <activity android:name=".Pizzaclasica" />
        <activity android:name=".Ingredientes" />
        <activity android:name=".Mexicana" />
        <activity android:name=".RegistrarReceta" />
        <activity android:name=".Soporte" />
        <activity android:name=".Recetas" />
        <activity android:name=".Dieta" />
        <activity android:name=".Carne" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>